In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from xgboost import XGBRegressor

from sklearn.preprocessing import OrdinalEncoder

In [2]:
df_train = pd.read_csv('/kaggle/input/playground-series-s3e8/train.csv')
df_test = pd.read_csv('/kaggle/input/playground-series-s3e8/test.csv')
df_sub = pd.read_csv('/kaggle/input/playground-series-s3e8/sample_submission.csv')

In [3]:
df_train = df_train.drop('id', axis=1)
df_test = df_test.drop('id', axis=1)
df_train.head()

   carat        cut color clarity  depth  table     x     y     z  price
0   1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1   2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05  13387
2   0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73  3.50   2772
3   0.32      Ideal     G     VS1   61.6   56.0  4.38  4.41  2.71    666
4   1.70    Premium     G     VS2   62.6   59.0  7.65  7.61  4.77  14453

In [4]:
cut_values = [['Fair', 'Good', 'Very Good', 'Premium', 'Ideal']]
cut_encoder = OrdinalEncoder(categories=cut_values)
df_train['cut'] = cut_encoder.fit_transform(df_train[['cut']])
df_test['cut'] = cut_encoder.fit_transform(df_test[['cut']])

In [5]:
color_values = [['D', 'E', 'F', 'G', 'H', 'I', 'J']]
color_encoder = OrdinalEncoder(categories=color_values)
df_train['color'] = color_encoder.fit_transform(df_train[['color']])
df_test['color'] = color_encoder.fit_transform(df_test[['color']])

In [6]:
clarity_values = [['I1', 'SI2', 'SI1', 'VS2', 'VS1', 'VVS2', 'VVS1', 'IF']]
clarity_encoder = OrdinalEncoder(categories=clarity_values)
df_train['clarity'] = clarity_encoder.fit_transform(df_train[['clarity']])
df_test['clarity'] = clarity_encoder.fit_transform(df_test[['clarity']])

In [7]:
for column in ['x', 'y', 'z']:
    df_train[column] = df_train[column].replace(0, 1)
    df_test[column] = df_test[column].replace(0, 1)

In [8]:
df_train.head()

   carat  cut  color  clarity  depth  table     x     y     z  price
0   1.52  3.0    2.0      3.0   62.2   58.0  7.27  7.33  4.55  13619
1   2.03  2.0    6.0      1.0   62.0   58.0  8.06  8.12  5.05  13387
2   0.70  4.0    3.0      4.0   61.2   57.0  5.69  5.73  3.50   2772
3   0.32  4.0    3.0      4.0   61.6   56.0  4.38  4.41  2.71    666
4   1.70  3.0    3.0      3.0   62.6   59.0  7.65  7.61  4.77  14453

In [9]:
Y = df_train['price']
df_train=df_train.drop(['price'],axis=1)

In [10]:
train_X, test_X, train_y, test_y = train_test_split(df_train, Y,test_size = 0.3, random_state =1234)

In [11]:
model=XGBRegressor(max_depth=10, learning_rate=0.24 , n_estimators=50, objective='reg:linear', booster='gbtree')
XGB=model.fit(train_X,train_y)
prediction=XGB.predict(test_X)

[11:42:46] WARNING: ../src/objective/regression_obj.cu:203: reg:linear is now deprecated in favor of reg:squarederror.

In [12]:
test_pred = XGB.predict(df_test)
test_pred
df_sub.price= test_pred

In [13]:
df_sub.to_csv('submission.csv', index = False)
pd.read_csv('submission.csv')

            id       price
0       193573   867.89090
1       193574  2453.96400
2       193575  2327.60160
3       193576   888.04987
4       193577  5785.88960
...        ...         ...
129045  322618  3807.95700
129046  322619  2586.22600
129047  322620  7562.15700
129048  322621  5245.18950
129049  322622  4246.88100

[129050 rows x 2 columns]